@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --color-primary: #047cac;
  --color-secondary: #e41d35;
}

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.card {
  height: 18rem;
}

.btn-primary {
  background-color: var(--color-primary);
  &:hover {
    background-color: #597fd1;
  }
  border-color: none;
}

.btn-secondary {
  background-color: var(--color-secondary);
}
